.container{
    display:flex;
    border:10px solid black;
    height:90vh;
    flex-wrap:wrap;
  
   
}
.box{
    width:150px;
    height:150px;
    font-size:8em;
    border-radius:10px;
    text-align:center;
    
}
#box1{
    
    background-color:hsl(0, 81%, 62%);
    align-self:center;
}
#box2{
    background-color:hsl(128, 67%, 51%);
    align-self:center;
}

#box3{
    background-color:hsl(59, 88%, 55%);
}
#box4{
    background-color:hsl(239, 79%, 44%);
}
